.title-h3,
.title-h4 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

.title-h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
}
.title-h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}

.axis path,
.axis line {
	fill: none;
	stroke: #B3B3B3;
	shape-rendering: crispEdges;
}
.axis text {
	font-family: sans-serif;
	font-size: 10px;
	fill: #6B6B6B;
}
.axis.small text {
	font-size: 7px;
}

.divider {
	margin: 20px;
}

.sotsVisualWrapper {
	padding: 10px 0px;
}

.legendCircle {
  stroke-width:1;
  stroke:#999;
  stroke-dasharray:2 2;
  fill:none;
}

.legendLine {
	stroke-width: 1;
	stroke: #D1D1D1;
	shape-rendering: crispEdges;
}

.legendTitle {
	fill: #1A1A1A;
	color: #1A1A1A;
	text-anchor: middle;
	font-size: 10px;
}

.legendText {
	fill: #6B6B6B;
	color: #6B6B6B;
	text-anchor: start;
	font-size: 8px;
}

.dataresource.treemap {
  display: block;
  margin: auto;
}

.callout {
	text-anchor: start;
	font-size: 10px;
}
.voronoi path {
  fill: none;
  pointer-events: all;
}

.popover {
	pointer-events: none;
}

.backgroundLine {
	stroke: #E0E0E0;
	shape-rendering: crispEdges;
}

.connectLine {
	stroke: #666666;
	shape-rendering: crispEdges;
}

/* Bootstrap Combobox CSS */
.form-search .combobox-container,
.form-inline .combobox-container {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: top;
}
.form-search .combobox-container .input-group-addon,
.form-inline .combobox-container .input-group-addon {
  width: auto;
}
.combobox-selected .caret {
  display: none;
}
/* :not doesn't work in IE8 */
.combobox-container:not(.combobox-selected) .glyphicon-remove {
  display: none;
}
.typeahead-long {
  max-height: 300px;
  overflow-y: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
   box-sizing: border-box;
}
.control-group.error .combobox-container .add-on {
  color: #B94A48;
  border-color: #B94A48;
}
.control-group.error .combobox-container .caret {
  border-top-color: #B94A48;
}
.control-group.warning .combobox-container .add-on {
  color: #C09853;
  border-color: #C09853;
}
.control-group.warning .combobox-container .caret {
  border-top-color: #C09853;
}
.control-group.success .combobox-container .add-on {
  color: #468847;
  border-color: #468847;
}
.control-group.success .combobox-container .caret {
  border-top-color: #468847;
}